<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Preness" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <% if Rails.env.production? && ENV['GOOGLE_ANALYTICS_ID'].present? %>
      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=<%= ENV['GOOGLE_ANALYTICS_ID'] %>"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '<%= ENV['GOOGLE_ANALYTICS_ID'] %>');
      </script>
    <% end %>
  </head>

  <body class="antialiased <%= content_for(:body_class) %>">
<% if notice.present? || alert.present? %>
  <div class="fixed inset-x-0 top-4 z-50 mx-auto w-full max-w-2xl px-4 transition-opacity duration-500" data-controller="flash">
    <% if notice.present? %>
      <p class="rounded-lg border border-green-300 bg-green-100 px-4 py-3 text-sm font-medium text-green-800" data-flash-target="message"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="mt-2 rounded-lg border border-red-300 bg-red-100 px-4 py-3 text-sm font-medium text-red-800" data-flash-target="message"><%= alert %></p>
    <% end %>
  </div>
<% end %>
    <%= yield %>
  </body>
</html>
